:root {
    --bg-color: #252525;
    --text-color: #AEAEAE;
}

@font-face {
    font-family: "IBM BIOS";
    src: url("../fonts/AcPlus_IBM_BIOS.ttf");
}

body {
    margin: 0;
    background-color: black;
    color: black;
    font-family: "IBM BIOS";
    animation-delay: 2s;
    animation-duration: 10s;
    animation-name: fadein;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
}

@keyframes fadein {
    from {
        color: black;
    }
    to {
        color: white;
    }
}

#main_console {
    margin-top: 10px;
    margin-left: 10px;
    font-family: "IBM BIOS";
}

#begin_button {
    background: none;
    color: white;
    position: fixed;
    left: calc(50% - 46px / 2);
}