:root {
    --bg-color: #252525;
    --text-color: #EAEAEA;
    --clickable: #db4444;
}

@font-face {
    font-family: "IBM BIOS";
    src: url("../fonts/AcPlus_IBM_BIOS.ttf");
}

body {
    margin: 0;
    background-color: black;
    color: white;
    font-family: "IBM BIOS";
}
